.App {
  height: 100vh;
  text-align: center;
  color: white;
}

p {
  margin:0;
}

html {
  background-color: #181818;
  box-sizing: border-box;
}


/* Modal */
.modal {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.521);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-card {
  background-color: rgb(27, 27, 27);
  position: absolute;
  z-index: 2;
  left: 10%;
  top: 10%;
  width: 80%;
  height: 80%;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.modal-card a {
  background-color: #349dff;
  padding: 1rem 3rem;
  border-radius: 1.5rem;
  margin: 1rem;
  color: white;
  transition: .3s;
}

.modal-card a:hover {
  background-color: #7fd0ff;
}

.modal-card p, .modal-card h3, .modal-card h1 {
  padding: 1rem;
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
}



.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header-container {
  padding-top: 30px;
}

.register-set-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.register-prompt-button {
  height: 25px;
  border: 0;
  min-width: min-content;
  cursor: pointer;
  font-size: 10px;
  font-weight: bold;
  color: white;
  background: -webkit-linear-gradient(left, #7fd0ff, #349dff);
  background-size: 200% 200%;
  animation: gradient-animation 2s ease-in infinite;
  border-radius: 20px;
  padding: 0px 2rem;
  margin-top: .4rem;
}

.cloud-image {
  width: 100%;
}


header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 3rem 1rem;
}

.title {
  margin: 0;
  font-size: 35px;
  font-weight: bold;
  color: white;
}

.subtitle {
  font-size: 25px;
  color: white;
  margin-top: 1rem;
}

.left{
  text-align: left;
  margin-left: 10%;
}

.logo{
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.right{
  display: flex;
  background: black;
  border-radius: 16px;
  padding: 12px 20px;
  height: 99%;
  margin-right: 10%;
  margin-top: 10px;
}



.cta-button {
  height: 45px;
  border: 0;
  width: auto;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  color: white;
}

.connect-wallet-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 550px;
}

.connect-wallet-container p {
  margin-bottom: 1rem;
}

.connect-wallet-container img {
  padding-bottom: 20px;
}

.connect-wallet-button {
  background-image: linear-gradient(
    to right,
    #ff8177 0%,
    #ff867a 0%,
    #ff8c7f 21%,
    #f99185 52%,
    #cf556c 78%,
    #b12a5b 100%
  );
  background-size: 200% 200%;
  animation: gradient-animation 4s ease infinite;
}

.mint-button {
  background: -webkit-linear-gradient(left, #7fd0ff, #349dff);
  font-size: 18px;
  background-size: 200% 200%;
  animation: gradient-animation 4s ease infinite;
  margin: 0 10px;
  border-radius: 20px;
  padding: 0px 2rem;
}

.mint-button:disabled{
  background: #0e426d;
  color: rgb(209, 209, 209);
  cursor: not-allowed;
}

.mint-row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.edit-button{
  border-radius: 50%;
  cursor: pointer;
  margin-left: 3px;
  top: 20px;
  border: 0px;
  font-size: 12px;
  background-color: transparent;
}

.edit-icon{
  width: 12px;
}


.footer-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.twitter-logo {
  width: 35px;
  height: 35px;
}

.footer-text {
  color: white;
  font-size: 16px;
  font-weight: bold;
  max-width: 50ch;
}

.form-container{
  display: flex;
  max-width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.form-container small {
  padding: 5px;
  font-size: .72rem;
  color: #8d8787;
}

input {
  border: 0;
  border-radius: 12px;
  background-color: black;
  color: white;
  letter-spacing: 1px;
  font-size: 22px;
  max-width: 80%;
  margin-bottom: 1.5rem;
  padding: 10px 20px;
  text-align: center;
}

input::placeholder {
  color: gray;
  letter-spacing: 2px;
}

input:focus {
  outline: none;
}

.first-row{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
}

.tld {
  position: absolute;
  font-size: 20px;
  font-weight: bold;
  color: white;
  /* left: -70px; */
  right: 2.5rem;
  top: .6rem;
  margin: 0;  
  padding: 0;
}

.mint-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: .5rem;
}

.mint-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  border-radius: 5px;
  margin: 10px 15px;
  font-size: 18px;
  background-color: #c4b7fa;
  color: black;
  min-width: 150px;
  max-width: fit-content;
  box-shadow: 0px 0px 10px 3px rgba(255, 255, 255, 0.2);
}

/* Different background-colour for every nth mint-item */
.mint-item:nth-child(2n) {
  background-color: lightblue;
}

.mint-item:nth-child(3n) {
  background-color: lightpink;
}

.mint-item:nth-child(5n) {
  background-color: lightgreen;
}

.link{
  color: black;
  text-decoration: none;
}

.underlined{
  text-decoration: underline;
}

.underlined:hover{
  cursor: pointer;
}

/* KeyFrames */
@-webkit-keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@media (max-width: 561px) {
  header {
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  header div.right {
    max-width: fit-content;
    font-size: .8rem;
  }

}